@model IEnumerable<ForumAPI.Services.BoardService.BoardModel>
@{
    Layout = "BaseLayout";
}

<div>
    @{
        foreach (var board in Model)
        {
            <div>
                <a href="~/boards/@board.Alias">@board.Name</a>
            </div>
        }
    }
</div>