@model ForumAPI.Services.BoardService.BoardModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
@{
        foreach (var topic in Model.Topics)
        {
            <div class="header">
                <div>@topic.TopicHeader</div>
                <div>@topic.Id</div>
            </div>
            
            <div>
            @{
                var posts = topic.Posts?.Take(3);

                foreach (var post in posts)
                {
                    <div class="footer-posts">
                        <div>@post.Id</div>
                        <div>@post.Text</div>
                    </div>
                }
            }    
            </div>
        }
    }
</body>
</html>