<html>
<head>
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="~/base-layout.css">
</head>
<body>
<div class="flex-container-row">
</div>
<div class="flex-container-column">
    @RenderBody()
</div>
</body>
</html>